.gameUI{
  display: flex;
  border: 5px solid gray;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  .GuessUI{
    text-align: center;
    border-right: 5px solid gray;
    width: 50%;
  }
  .ControllerUI {
    text-align: center;
    width: 50%;
    background-color: yellow;
  }


}
