div {
  h1 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
  .guess-input {
    width: 35%;
    height: 30px;
    margin: 5px;
  }
  .result {
    background-color: greenyellow;
  }
  .operation {
    background-color: blueviolet;
  }
}
